c-labs/lab_1/array_pointer_iteration
c-labs/lab_1/dynamic_2d_array
.DS_Store
c-labs/lab_1/swap_with_pointers
c-labs/lab_1/max_element_pointer
c-labs/lab_1/reverse_array_pointer
c-labs/lab_1/substring_search_pointers
c-labs/lab_1/string_copy_pointers
c-labs/lab_1/сount_spaces_pointers
c-labs/lab_1/sort_array_function_pointer
c-labs/lab_2/struct_func_pointer
c-labs/lab_2/vector3d_struct 
c-labs/lab_2/complex_exponent
c-labs/lab_2/date_bitfields
c-labs/lab_2/doubly_linked_list
c-labs/lab_3/union_pointer 
c-labs/lab_3/print_bytes_union
c-labs/lab_3/enum_weekdays
c-labs/lab_3/tagged_union_struct   
c-labs/lab_3/students_union
c-labs/lab_3/system_state_enum
c-labs/lab_3/enum_union_input_output
c-labs/lab_4/matrix_operations
c-labs/lab_5/task1 
c-labs/lab_5/input.txt
c-labs/lab_5/task2
c-labs/lab_5/output.txt
c-labs/lab_5/task3
c-labs/lab_5/destination.txt
c-labs/lab_5/source.txt 
c-labs/lab_5/task4
c-labs/lab_5/task5
c-labs/lab_5/students.bin 
c-labs/lab_5/task6
c-labs/lab_5/task7

rust-labs/lab_1/target
rust-labs/lab_1/Cargo.lock
rust-labs/lab_2/target
rust-labs/lab_2/Cargo.lock
# === Rust / Cargo ===
target/
**/target/

# === macOS ===
.DS_Store

# === VS Code ===
.vscode/
*.code-workspace

# === Logs и временные файлы ===
*.log

# === Rust backups ===
**/*.rs.bk

# === Сборки и бинарники ===
*.exe
*.out
*.dll
*.dylib
*.so

# === Компиляция ===
Cargo.lock

